.container{
  width: 80%;
  margin: 0 auto;
}

.container100{
  width: 100%;
}

.text-center{
  text-align: center;
}

.text-small{
  font-size: .8em;
}

.text-big{
  font-size: 2.5em;
}

.text-red{
  color: $txt-nav-hover;
}

.text-blue{
  color: $primary-txt-blue;
}

.text-white{
  color: white;
}

.text-grey{
  color: #aaaaaa;
}

.title-text-bold{
  font-weight: bold;
}

.title-text-normal{
  font-weight:normal;
}

.my-1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2{
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-4{
  margin-top: 40px;
  margin-bottom: 40px;
}

.titlePost{
  font-size: 1.2em;
}

.fa-comment{
  position: fixed;
  top: 95%;
  right: 25px;
  font-size: .8em;
  border-radius: 50%;
  padding: 13px;
  color: #ffff;
  background-color: $primary-bg-blue;
}
