.container{
  width: 80%;
  margin: 0 auto;
}

.container100{
  width: 100%;
}

.text-red{
  color: $txt-nav-hover;
}

.text-blue{
  color: $primary-txt-blue;
}

.title-text-bold{
  font-weight: bold;
}

.title-text-normal{
  font-weight:normal;
}

.my-1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2{
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-4{
  margin-top: 40px;
  margin-bottom: 40px;
}
