header{
  height: 700px;
  background-color: blue;


.jumbo{
  display: flex;
  flex-wrap: nowrap;
  height: 600px;
  padding-top: 30px;
  .left-jumbo{
    width: 40%;
    padding-top: 100px;
    .jumbo-txt{
      color: #ffff;
      h1{
        padding: 5px;
        font-size: 3.3em;
      }
      .btns{
        button{
          @include my-page-btn();
        }
      }
    }
  }
  .right-jumbo{
    width: 60%;
    .img-jumbo{
      height: 520px;
      img{
        padding-left: 150px;
        padding-top: 20px;
      }
    }
  }
}
}
