header{
  height: 700px;
  @include background-grad-blue();

.jumbo{
  display: flex;
  flex-wrap: nowrap;
  height: 600px;
  padding-top: 30px;
  .left-jumbo{
    width: 40%;
    padding-top: 100px;
    .jumbo-txt{
      color: #ffff;
      h1{
        padding: 5px;
        font-size: 3.3em;
      }
      p{
        color: $primary-txt-blue;
      }
      .btns{
        button.btn-blue{
          @include my-page-btn(10px, 35px);
          @include btn-background-shad-blue();
        }
        button.btn-red{
          @include my-page-btn(10px, 35px);
          @include btn-background-shad-red();
        }
      }
    }
  }
  .right-jumbo{
    width: 60%;
    .img-jumbo{
      height: 520px;
      img{
        padding-left: 150px;
        padding-top: 20px;
      }
    }
  }
}
}
