section.subscribe-bar{
  height: 200px;
  @include btn-background-shad-red;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 120px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  color: #ffff;
  .text-subscribe{
    width: 60%;
  }
  .email-box{
    height: 25%;
    width: 30%;
    border-radius: 20px;
    background-color: #ffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    input{
      height: 100%;
      border-radius: 20px;
      margin-left: 15px;
    }
    button{
      @include my-page-btn(10px,35px);
      @include btn-background-shad-blue;
      height: 80%;
      align-self: center;
      margin-right: 5px;
    }
  }
}
