main{
  .container{
    padding-top: 50px;

    .titles{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      p{
        font-size: .9em;
      }
    }
    .cards{
      padding-top: 100px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-cont{
          height: 150px;
        }
        .txt-cont{
          width: 70%;
          h2{
            text-align: center;
          }
          p{
            text-align: center;
            font-size: .9em;
            color: $text-grey;
          }
        }

      }
    }
    .btn-cont{
      width: 100%;
      display: flex;
      justify-content: center;
      button{
      @include my-page-btn(10px, 20px);
      @include btn-background-shad-red;
      }
    }

  }
  .container100{
    @include background-grad-blue;
   .container{
      .jumbo{
        display: flex;
        flex-wrap: nowrap;
        height: 600px;
        justify-content: space-between;
        align-items: center;
        .right-jumbo{
          width: 50%;
          .jumbo-txt{
            color: #ffff;
            span{
              font-size: .9em;
              padding: 10px;
            }
            h1{
              padding: 5px;
              font-size: 3.3em;
            }
            .btns{
              button{
                @include my-page-btn(10px, 20px);
                @include btn-background-shad-blue;
                &.btn-red{
                  @include btn-background-shad-red;
                }
              }
            }
          }
        }
        .left-jumbo{
          width: 50%;
          .img-jumbo{
            position: relative;
            img.positioned-img{
              position: absolute;
              top: 60px;
              left: 90px;
            }
          }
        }
      }
    }
  }
}
