@mixin my-ul-nostyle($margin){
  list-style: none;
  display: flex;
  li{
    margin:  $margin;
    color: white;
  }
}

@mixin my-page-btn{
  padding: 2px 10px;
  border-radius: 15px;
  color: #ffff;
  background-color: cyan;
}
