nav{
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 10px;
  .left-nav{
    width: 50%;
    img{
    }
  }
  .right-nav{
    display: flex;
    flex-wrap: nowrap;
    ul{
      @include my-ul-nostyle(15px);
      li{
        cursor: pointer;
        &:hover{
          color: $txt-nav-hover;
        }
      }
    }
    button{
      @include my-page-btn(5px, 10px);
      @include btn-background-shad-blue;
      margin-left: 10px;
    }
  }
}
