* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ol.flickity-page-dots .dot.is-selected{
  background-color: $txt-nav-hover;
}

.flickity-prev-next-button.next{
  top: -15%;
  color: $txt-nav-hover;
}

button.flickity-prev-next-button.previous{
  top: -15%;
  left: 95%;
  color: $txt-nav-hover;
}
