<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./dist/css/master.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <title>Proj htmlVuejs</title>
</head>
<body>
  <div id="root">

    <header>
      <div class="container">
        <nav>
          <div class="left-nav">
            <img src="./img/white-logo-2.png" alt="" width="130">
          </div>
          <div class="right-nav">
            <ul>
              <li v-for="(el, i) in navEl">{{navEl[i].name}}</li>
            </ul>
            <button class="btn-sign" type="button" name="button">Sign In</button>
          </div>
        </nav>
        <div class="jumbo">
          <div class="left-jumbo">
            <div class="jumbo-txt">
              <h1 class="title-text-bold">Business Planning</h1>
              <h1 class="title-text-normal">Digital Technology</h1>
              <h1 class="title-text-bold">Modern Solution !</h1>
              <p class="my-4">When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface.</p>
              <div class="btns">
                <button type="button" name="button" class="btn-red" style="margin-right:15px;">Try it Now</button>
                <button type="button" name="button" class="btn-blue">Explore More</button>
              </div>
            </div>
          </div>
          <div class="right-jumbo">
            <div class="img-jumbo">
              <img src="./img/header.png" alt="" height="500">
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>

      <div class="container cards-section">
        <div class="titles">
          <p class="text-red">Our Services</p>
          <h1 class="title-text-normal my-1"><span class="title-text-bold">What</span> We Do</h1>
          <p>When, while the lovely valley teems with vapour around me and strikes the</p>
        </div>
        <div class="cards">
          <div class="card" v-for="(card, i) in wwd">
            <div class="img-cont">
              <img :src="card.screen" alt="" width="100">
            </div>
            <div class="txt-cont">
              <h2 class="my-1">{{card.what}}</h2>
              <p>{{card.desc}}</p>
            </div>
          </div>
        </div>
        <div class="btn-cont my-4">
          <button type="button" name="button" class="my-4">View All Services</button>
        </div>
      </div>
      <div class="container100">
        <div class="container">
          <div class="jumbo">
            <div class="left-jumbo">
              <div class="img-jumbo">
                <img src="./img/men-data.png" alt="" height="450" class="positioned-img">
                <img src="./img/nemoodar.png" alt="" height="500">
              </div>
            </div>
            <div class="right-jumbo">
              <div class="jumbo-txt">
                <span class="my-1">Start Your Project</span>
                <h1 class="title-text-bold">Grow Your Business</h1>
                <h1 class="title-text-normal">With Our Strategy</h1>
                <p class="my-4 text-blue">When, while the lovely valley teems with vapour around meand the meridian sun strikes the upper surface, of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.</p>
                <div class="btns">
                  <button class="btn-red" type="button" name="button">Try it Now</button>
                  <button type="button" name="button" style="margin-left: 10px;">Explore More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="latest-works">
        <div class="container">
          <div class="left">
            <p class="text-red my-1">Portfolio</p>
            <h1 class="title-text-bold">latest<span class="title-text-normal"> Work</span></h1>
          </div>
          <div class="right">
          </div>
        </div>
        <div class="carousel"
          style="background-color:#ffff;"
          data-flickity='{ "setGallerySize": false, "wrapAround": true }'>
          <div class="carousel-cell" v-for="(work, i) in latestWorks">
            <div class="img-cont">
              <img :src="work.screen" alt="noimg" style="border-radius: 20px;">
              <div class="txt-cont">
                <span class="title-text-bold">{{work.name}}</span>
                <span class="work-type">{{work.type}}</span>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="pricing">

        <div class="container">
          <div class="titles">
            <p class="text-red">Price List</p>
            <h1 class="title-text-normal my-1 text-white"><span class="title-text-bold text-white">Our</span> Pricing</h1>
            <p class=" text-white">When, while the lovely valley teems with vapour around me and strikes the upper surface.</p>
          </div>
        </div>

        <div class="container pricing-zone">
          <div class="pricing-card" v-for="plan in plans">
            <div class="type-pricing">
              <h1 class="text-center title-usage">{{plan.name}}</h1>
              <span class="subt text-center my-1">{{plan.subtitle}}</span>
              <span class="value">$</span>
              <div class="prices" style="margin: 0 auto;">
                <span class="priceBig title-text-bold">{{plan.price}}</span>
                <span class="price title-text-bold my-1 text-center">{{plan.price}}</span>
              </div>
              <span class="my-2 text-center text-small">Per Month</span>
              <ul class="ul-pricing">
                <li class="li-pricing" v-for="service in servicesPlans">
                  <span class="title-text-bold">{{service.type}}</span>  <span>{{service.tx1}}</span>
                </li>
              </ul>
              <button type="button" name="button" class="order-btn my-2">Order Now <i class="fas fa-long-arrow-alt-right"></i></button>
            </div>
          </div>
        </div>

      </section>

      <section class="latest-posts">
        <div class="container">
          <div class="titles">
            <p class="text-red">Blog</p>
            <h1 class="title-text-normal my-1"><span class="title-text-bold">Latest</span> Posts</h1>
            <p>When, while the lovely valley teems with vapour around me and strinkes the upper surface.</p>
          </div>
        </div>

        <div class="container my-4">
          <div class="main-post" style="background-image: url('./img/headway.jpg')">
            <div class="post-text text-white">
              <span class="date my-1">April 21, 2019 <span class="author">&#9679; by Paul</span> </span>
              <h4 class="titlePost">Amazon gets CCI nod to aquire 49% stake in</h4>
              <p class="my-1">When, while the lovely valley teems with vapour around me and the meridian sun s...</p>

            </div>
            <div class="btn-more">
              <button type="button" name="button">Read More</button>
            </div>
          </div>
          <div class="sec-post">
            <div class="small-post-text text-white">
              <span class="date ">April 21, 2019 <span class="author">&#9679; by Paul</span> </span>
              <h4 class="my-2 titlePost" style="margin-bottom: 35px;">Clearing Corporations get SEBI nod to invest in overnight funds</h4>
              <p class="text-grey">When, while the lovely valley teems with vapour around me and the meridian sun s...</p>
              <button type="button" name="button" class="read-more-btn">Read More</button>
            </div>
          </div>
          <div class="sec-post">
            <div class="small-post-text text-white">
              <span class="date ">April 21, 2019 <span class="author">&#9679; by Paul</span> </span>
              <h4 class="my-2 titlePost">Shabnam Dhillon, wife of RSSB chief Gurinder Dhillon, passes away in London</h4>
              <p class="text-grey">When, while the lovely valley teems with vapour around me and the meridian sun s...</p>
              <button type="button" name="button" class="read-more-btn">Read More</button>
            </div>
          </div>
        </div>
      </section>

      <section class="testimonial">
        <div class="container">
          <div class="titles">
            <p class="text-red">Testimonial</p>
            <h1 class="title-text-normal my-1"><span class="title-text-bold">What</span> People Say</h1>
            <p class="text-center">When, while the lovely valley teems with vapour around me and strinkes the upper surface.</p>
          </div>
        </div>

        <div class="container testimonial-group">
          <div class="testimonial-card my-2" v-for="ppl in testimonials">
            <div class="img-id">
              <img :src="ppl.iconPath" alt="">
            </div>
            <div class="stars my-4">
              <i class="fas fa-quote-right bg-quote"></i>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <i class="far fa-star"></i><i class="far fa-star"></i>
            </div>
            <p class="text-center testimonial-msg">{{ppl.text}}</p>
            <h3 class="text-center my-2 text-small">{{ppl.name}}</h3>
            <p class="testimonial-role text-center text-small">{{ppl.role}}</p>
          </div>
        </div>
      </section>

      <section class="sponsors my-4">
        <div class="container">
          <ul class="logo-list">
            <li v-for="sponsor in sponsors">
              <img :src="sponsor.logo" alt="" width="110">
            </li>
          </ul>
        </div>
      </section>



    </main>
    <footer>
      <section class="subscribe-bar">
        <div class="text-subscribe">
          <h1 class="text-big">We Offer Awesome Services</h1>
          <p class="my-1 text-small">When, while the lovely valley teems with vapour around me and the meridian sun strikes.</p>
        </div>
        <div class="email-box">
          <input type="text" name="email" value="" placeholder="Enter You Email Address">
          <button type="button" name="button">Subscribe</button>
        </div>
      </section>

      <div class="container footer-text">
        <div class="logo-footer-section footerPart">
          <img src="./img/white-logo-2.png" alt="" width="130">
          <p class="my-2 text-white text-small text-grey" style="width: 80%;">When, while the lovely valley teems with vapour around me and the meridian sun strikes the upper impenetrable</p>
        </div>
        <div class="list-footer-section footerPart">
          <h4 class="my-1">Quick Links</h4>
          <ul>
            <li>Services</li>
            <li>Contact</li>
            <li>Blog</li>
          </ul>
        </div>
        <div class="list-footer-section footerPart">
          <h4 class="my-1">Resources</h4>
          <ul>
            <li>Art Design</li>
            <li>Computer</li>
            <li>IT News</li>
            <li>Networking</li>
            <li>Web Security</li>
          </ul>
        </div>
        <div class="contact-footer-section footerPart">
          <h4 class="my-1">Contact Us</h4>
          <p class="my-2 text-grey"><span class="title-text-bold text-white">Address:</span> Patricia C. Amedee 4401 Wadeck <br> Street Grapevine Nashville, Tx 76051</p>
          <p class="my-1 text-grey"><span class="title-text-bold text-white">Phone:</span> +99 (0) 101 0000 888</p>
          <p class="text-grey"><span class="title-text-bold text-white">Email:</span> info@yourdomain.com</p>
        </div>
      </div>
      <div class="footer-end-bar">
        <p class="text-small"> 2020 Phlox. All right Reserved.</p>
        <ul>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-linkedin"></i></li>
          <li><i class="fab fa-facebook"></i></li>
          <li><i class="fab fa-twitter"></i></li>
        </ul>
        <i class="fas fa-arrow-up"></i>

      </div>
    </footer>

    <i class="far fa-comment"></i>
  </div>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./src/main.js" charset="utf-8"></script>
</body>
</html>
